@import "../node_modules/bootstrap/scss/bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

/*Mis estilos*/

/*-Index */
#trailer{
    width: 400pt;
    height: 220pt;
}

/*-Acerca de*/
#tablaDatosCine{
    margin: 0 auto;
}

#tablaDatosCine, #tablaDatosCine th, #tablaDatosCine td{
    border: 1px solid black;
    border-collapse: collapse;
}

#tablaDatosCine th, #tablaDatosCine td{
    padding: 10pt;
}

/*-Reserva*/

#errorReserva{
    color: red;
}

.peliMarcada{
    background-color: gray;
}


/*--Asientos*/
#sala{
    background-color: rgb(36, 35, 51);
}
#pantalla{
    width: 200pt;
    height: 150pt;
    transform-style: preserve-3d;
    transform: perspective(2000px) rotateX(-70deg);
    background-color: white;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
}

.asiento:not(.ocupado){
    color: rgba($color: #FFFFFF, $alpha: 0.25)
}
.asiento:not(.ocupado).seleccionado{
    color: #6feaf6;
}
.asiento.ocupado{
    color: white;
}

.asiento:nth-child(2){
    margin-right: 25pt;
}
.asiento:nth-child(6){
    margin-right: 25pt;
}

/*Estilos profesor*/
.hero {
    background-image: url('../img/asientos.jpg');
    height:50vh;
    background-size: contain;
}

.bi-trash-fill {
    color: red;
    font-size: 4rem;
}